body {
    background-color: #121212;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.text {
    line-height: 40px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-wrap: wrap;

}

.text > h2{
    color: white;
    height: 48px;
    /* font-size: 32px; */
}

.heroImg {
    height: 212px;
  width: 212px;
}